<footer>
    <div class="container">
        <div class="footer-container">
            <div class="footer-col">
                <h4>{{ site.data.common_zh.footer_upedu_title }}</h4>
                <p>{{ site.data.common_zh.footer_upedu_subtitle }}</p>
                <p>{{ site.data.common_zh.footer_upedu_text }}</p>
            </div>
            
            <div class="footer-col">
                <h4>{{ site.data.common_zh.footer_quick_links }}</h4>
                <ul>
                    <li><a href="#about">{{ site.data.common_zh.footer_quick_about }}</a></li>
                    <li><a href="#programs">{{ site.data.common_zh.footer_quick_programs }}</a></li>
                    <li><a href="#tuition">{{ site.data.common_zh.footer_quick_tuition }}</a></li>
                    <li><a href="#testimonials">{{ site.data.common_zh.footer_quick_testimonials }}</a></li>
                </ul>
            </div>
            
            <div class="footer-col">
                <h4>{{ site.data.common_zh.footer_programs_title }}</h4>
                <ul>
                    <li><a href="#programs">{{ site.data.common_zh.footer_programs_1 }}</a></li>
                    <li><a href="#programs">{{ site.data.common_zh.footer_programs_2 }}</a></li>
                    <li><a href="#programs">{{ site.data.common_zh.footer_programs_3 }}</a></li>
                    <li><a href="#programs">{{ site.data.common_zh.footer_programs_4 }}</a></li>
                </ul>
            </div>
            
            <div class="footer-col">
                <h4>{{ site.data.common_zh.footer_contactus }}</h4>
                <ul>
                    <li>{{ site.data.common_zh.footer_address_1 }}</li>
                    <li>{{ site.data.common_zh.footer_address_2 }}</li>
                    <li>{{ site.data.common_zh.footer_phone }}</li>
                    <li>{{ site.data.common_zh.footer_email }}</li>
                </ul>
            </div>
        </div>
        
        <div class="copyright">
            <p>©{{ site.time | date: '%Y' }} {{ site.data.common_zh.footer_resvered }}</p>
        </div>
    </div>
</footer>