<footer>
    <div class="container">
        <div class="footer-container">
            <div class="footer-col">
                <h4>UpEdu</h4>
                <p>Grow Up, Edu Leads</p>
                <p>Provide high-quality after-school education services to students in the San Francisco Bay Area.</p>
            </div>
            
            <div class="footer-col">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#programs">Course Services</a></li>
                    <li><a href="#tuition">Pricing</a></li>
                    <li><a href="#testimonials">Testimonials</a></li>
                </ul>
            </div>
            
            <div class="footer-col">
                <h4>Course Services</h4>
                <ul>
                    <li><a href="#programs">After-school care</a></li>
                    <li><a href="#programs">Interest improvement class</a></li>
                    <li><a href="#programs">Exam Preparation Class</a></li>
                    <li><a href="#programs">Further studies planning</a></li>
                </ul>
            </div>
            
            <div class="footer-col">
                <h4>Contact Us</h4>
                <ul>
                    <li>4657 Mission Street</li>
                    <li>San Francisco, CA 94112</li>
                    <li>(415) 717-2089</li>
                    <li>upedu.learning@gmail.com</li>
                </ul>
            </div>
        </div>
        
        <div class="copyright">
            <p>©{{ site.time | date: '%Y' }} UpEdu Education Center. All rights reserved.</p>
        </div>
    </div>
</footer>